{% extends "layout.html" %}

{% block content %}

    <main>

    <div class="primary-main">


        <div class="primary-content">
            <h1>Investimento forte na divisão de segurança eletrônica.</br> trazendo o que há de mais moderno</br> e avançado em tecnologia no Brasil</h1>
            <h3>Nosso sistema de Segurança Eletrônica </br>foi projetado para clientes que querem integrar</br> segurança e confiabilidade Por isso, nossa palavra-chave é </br>Tecnologia</h3>        
            <div class="link-orc">
                <a href="/contato">Venha conversar conosco</a> 
        </div>    
            </div>

        <div class="primary-image">

            <img src="/Images/capa-bauru-alarmes.svg" alt="capa-bauru-alarmes">

        </div>

    </div>

    </main>


   
    <div class="content-secundary">

        <div class="content-secundary-image-1">
            <img src="/Images/undraw_security_o890.svg" alt="">
        </div>

        <div class="content-secundary-text">
            <h2>Contamos com uma Central de Monitoramento Eletrônico 24h altamente estruturada</br> 
           Geradores de energia, nobreaks e backup de equipamentos para o monitoramento</br> Além de linhas digitais para recepcionar os sinais dos sistemas de segurança de nossos clientes.</h2>
        
        </div>
        
        <div class="content-secundary-image-1">
            <img src="/Images/undraw_Security_on_ff2u.svg" alt="">
        </div>
    
    </div>



    <section class="section-content-3">

        
        <div class="context-title-3">
            <div class="context-3">

                <h2>Você sabe o quanto de tempo e dinheiro foi preciso para desenvolver o seu negócio.</br>Contratar um serviço de monitoramento empresarial confiável e de qualidade</br> é um dos investimentos mais importantes</h2>
                
                <h3>CONHEÇA NOSSOS SEGMENTOS DE PRODUTOS E SERVIÇOS </h3>

            </div>

            <div class="segments-context">

                

                <div class="group-image">
                    <img src="/icons/câmera.jpg" alt="Câmera">
                    <h4>Segurança Eletrônica</h4>

                    <img src="/icons/interfone.jpg" alt="Interfones">
                    <h4>Interfones</h4>

                </div>

                <div class="group-image">
                    <img src="/icons/Serralheria.jpg" alt="Serralheria">
                    <h4>Serralheria</h4>

                    <img src="/icons/Alarme.jpg" alt="Alarme">
                    <h4>Alarmes</h4>
                </div>

                <div class="group-image">
                    <img src="/icons/automoção.jpg" alt="automoção">
                    <h4>Automoção de Portões</h4>

                    <img src="/icons/luminária.jpg" alt="luminária">
                    <h4>Luminárias e Lustres</h4>
                </div>

                <div class="group-image">
                    <img src="/icons/24h.jpg" alt="24hrs">
                    <h4>Monitoramento 24 horas</h4>

                    <img src="/icons/cerca.jpg" alt="cerca">
                    <h4>Cerca Elétrica</h4>
                </div>

            


            </div>


        </div>

            

    </section>



    <section class="section-context-4">
        
        
        <div class="context-4">

            <h2>NOSSA HISTÓRIA</h2>
            <h3>Estamos fazendo isso desde 1999</h3>

            <P>A <strong>Bauru Alarme </strong> estabeleceu-se em 1999 em
                Bauru/SP, como uma empresa em serviços de
                segurança eletrônica e serralheria.
                Onde desde o primeiro dia, foi-se desenvolvido com total dedicação um trabalho desempenhando à atenção ao atendimento ao
                cliente e também à qualidade dos serviços e
                produtos da empresa.
                Atualmente localizada na Rua Bernardino de
                Campos, 25-38 - Jd. Jussara com a missão de
                apreender coisas novas e evoluir sempre, garantindo o melhor para nosso público</P>
                
           <div class="quem-somos"> 
            
                <img src="/Images/team_svg.svg" alt="timeSvg">
            
                <img src="/Images/image28.jpg" alt="quem-somos">
            
            
            </div>

            
           
    
        </div>



    </section>



    <div class="differentials-main">
        
        <h2>DIFERENCIAIS</h2>
        <h3>Porque escolher a Bauru Alarmes?</h3>
        
         <div class="grid-differentials">
            
            <div class="differentials-grid">

                <div class="border-radius-differentials" id="icon-teste">
                    <img src="/icons/icon-cam.png" alt="Alarme" >
                </div>
                
                <h2>EQUIPE DE MONITORAMENTO ELETRÔNICO</h2><p>Disponível 24 horas por dia em
                        7 dias na semana.
                        A equipe de monitoramento
                        encontra-se sempre preparada
                        para cuidar da sua segurança.</p>            
                
            </div>
        
        
            <div class="differentials-grid">

                <div class="border-radius-differentials" id="icon_serra">
                    <img src="/icons/icons-serra.png" alt="serralheria" >
                    
                </div>
                <h2>SERRALHERIA COM ALTO PADRÃO DE
                    QUALIDADE</h2> <p>Dispomos de profissionais capacitados como Engenheiros,
                        Arquitetos, e uma equipe treinada para poder oferecer o melhor serviço de Serralheria, atendendo assim toda a cidade
                        de Bauru e Região</p>         
                
            </div>




            <div class="differentials-grid">

                <div class="border-radius-differentials" id="icon_team">
                    <img src="/icons/icons-time.png" alt="Alarme" >
                </div>
                
                <h2>EQUIPE TÉCNICA ESPECIALIZADA</h2>  <p>O serviço de instalação e manutenção de
                    equipamentos é realizado por técnicos gabaritados e especializados.
                    Todos passam por aprimoramentos, devendo assimilar novas tecnologias adaptadas a
                    um atendimento primoroso.</p>          
            </div>


            
 
          
        </div>     


    </div>

{% endblock %}


{% block footer %} 

<footer>
    <div class="footer-main">
        <div class="footer-icon">
            <img src="/Images/capa-bauru-alarmes.png" alt="logo Bauru Alarmes">
        </div>
        <div class="footer-items">
            <a href="">
                <img src="/icons/whatsapp.svg" alt="whatsapp">
            </a>
            <a href="">
                <img src="" alt="">
            </a>

        </div>

    </div>
</footer>


{% endblock %}