<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bauru Alarmes</title>
    <link rel="stylesheet" href="/style.css">

    {% block head %}

    {% endblock %}

</head>
<body>

    <header>
        <nav class="primary-nav">

                <div class="logo"><a href="#"><img src="/Images/logo-bauru-alarmes.png" alt=""></a></div>
                <div class="hamburguer"><img src="/Images/list.svg" alt="hamburguer"></div>
            
                    <ul class="menu">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/serralheria">Serralheria</a></li>
                        <li><a href="/contato">Contato</a></li>
                    </ul>
           
        </nav>
    </header>


    {% block content %}{% endblock %}

    

    




<footer>

        <div class="footer-content">
            
           <div class="footer-logo"> 
             
                <img src="/Images/logo-bauru-alarmes.png" alt="logo-bauru-alarmes">
            
            </div>

            <div class="footer-socials">
            
                <a href="https://www.facebook.com/bauru.alarme/" target="_blank">
                    <img src="/Images/facebook.svg" alt="logo-facebook">
                </a>

                <a href="https://instagram.com/bauru_alarme?igshid=j3asmuxx3w62" target="_blank">
                    <img src="/Images/instagram.svg" alt="logo-instagram"> 
                </a>
            </div>

            <p>© Copyright 2020, Bauru Alarmes. Todos os direitos reservados.</p>

        </div>

</footer>


<script src="./script.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>

    

</html>