<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bauru Alarmes</title>
    <link rel="stylesheet" href="/style.css">

    {% block head %}

    {% endblock %}

</head>
<body>

    <header>
        <nav class="primary-nav">

                
                    <img src="/Images/Logo-bauru-alarmespng.svg" alt="Bauru alarmes" id="img-logo">
                
                 
                <a href="/">Ínicios</a>
                <a href="/serralheria">Serralheria</a>
                <a href="">Clientes</a>
                <a href="/contato">Contato</a>
        </nav>
    </header>


    {% block content %}{% endblock %}

    

    

    <footer>
       
    <div class="footer-main">
        <div class="footer-icon">
            <img src="/Images/capa-bauru-alarmes.png" alt="logo Bauru Alarmes">
        </div>

            <div class="footer-items">
                <a href="#">
                    <img src="/icons/facebook.svg" alt="whatsapp">
                </a>
                
                <a href="#">
                    <img src="/icons/instagram.svg" alt="instagram">
                </a>

                <a href="#">
                    <img src="/icons/whatsapp.svg" alt="instagram">
                </a>

            </div>

        <p>© Copyright 2020, Bauru Alarmes. Todos os direitos reservados.</p>
    </div>
</footer>






</body>

    

</html>