<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bauru Alarmes</title>
    <link rel="stylesheet" href="/style.css">

    {% block head %}

    {% endblock %}

</head>
<body>

    <header>
        <nav class="primary-nav">

                
                    <img src="/Images/Logo-bauru-alarmespng.svg" alt="Bauru alarmes" id="img-logo">
                
                 
                <a href="/">Ínicios</a>
                <a href="/serralheria">Serralheria</a>
                <a href="">Clientes</a>
                <a href="/contato">Contato</a>
        </nav>
    </header>


    {% block content %}{% endblock %}

    

    


</body>

    

</html>