{% extends "layout.html" %}

{%block head %}

<link rel="stylesheet" href="/serralheria.css">
{% endblock %}


{% block content %}

   <main>
        <div class="title-serr">
            <h2>
                Serralheria com alto padrão de
                qualidade<br> e disposição de
                equipe especializada.
            </h2>


            <div class="list-serr">
               
                <ul class="list-ul">
                    <li>Portões automáticos e manuais</li>
                    <li>Grades de proteção</li>
                    <li>Janelas</li>
                    <li>Estrutura metálicas</li>
                    <li>Portas de aço automáticas e manuais</li>
                </ul>

            </div>

            <div class="image-title-serr">
                <img src="/images/QA.svg" alt="serralheria">
            </div>
        

        </div>


    <section>

        <div class="content-serr"> 
            <div class="image-serr">
            
             <div class="image-serr-1">
                  <img src="/images/image14.jpg" alt="portao">
                <img src="/images/image16.jpg" alt="portao">
             </div>

             <div class="image-serr-2">
                <img src="/images/image6.jpg" alt="">

             </div>
                

            </div>

            <div class="serr-context">
                <h2>Dispomos de profissionais capacitados como Engenheiros,
                    Arquitetos, e uma equipe treinada para poder oferecer o melhor serviço de Serralheria, atendendo assim toda a cidade
                    de Bauru e Região</h2>
                
            </div>

        </div>



    </section>
            

            

    </main>


{% endblock %}
