{% extends "layout.html" %}


{% block head %}

<link rel="stylesheet" href="serralheria.css">


{% endblock %}

{% block content %}

   <section>

       <div class="serr-introduction">

           <div class="serr-introduction-title">
               <h3>Serralheria com alto padrão de
                    qualidade</h3> <h1>e disposição de
                    equipe especializada</h1>

                <p>Entre em contato e teremos o prazer em esclarecer qualquer
                dúvida
               </br>Também realizamos agendamentos de visita para tomarmos medidas</br> e realizarmos o seu orçamento</p>    
           </div>

            <div class="serr-introduction-image">
                <img src="/Images/QA.svg" alt="engenheiro"> 
            </div>


             
        <div class="serr-introduction-link">
            <a href="">Entrar em contato</a>
        </div>


        </div>
      

   </section>



   <section class="description">

       <div class="serr-main-title">
           <h1> Serralheria B.A é uma empresa que fabrica</h1>
        </div>

           
       <div class="serr-main">

           <div class="serr-group-image">
               <img src="/Images/portao.svg" alt="">
               <h3>Portões automáticos e manuais</h3>
               
               
               <img src="/Images/segurança.svg" alt="">
               <h3>Grades de proteção</h3>
           </div>


            <div class="serr-group-image">
               <img src="/Images/janela.svg" alt="">
               <h3>Janelas</h3>
               
               
               <img src="/Images/estrutura.svg" alt="">
               <h3>Estruturas metálicas</h3>
           </div>


            <div class="serr-group-image">
               <img src="/Images/automocao.svg" alt="">
               <h3>Portas de aço automáticas e manuais</h3>
           </div>



       </div>

        <div class="serr-text-final">
            <h3>Dispomos de profissionais capacitados como Engenheiros e
                Arquitetos  
                Uma equipe treinada para poder oferecer o melhor serviço de serralheria atendendo assim toda a cidade
                de Bauru e Região</h3>

            <img src="/Images/co_worker.svg" alt="trabalho">
       </div>


   </section> 


{% endblock %}