@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Merriweather&display=swap';


*{
    margin: 0;
    padding: 0;
    bottom: 0;
}

main{
    font-family: Merriweather, sans-serif;
    width: 85vw;


}

ul{
    list-style: none;

}


.title-serr{
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 1.6rem;
    margin: 2.6rem;
    border-radius: 10px;
    display: grid;
    position: relative;
    grid-template-columns: 2fr 1fr;
    height: 30vh;

}

.title-serr h2 {
    font-size: 20px;
}



.image-title-serr img {
    width: 25.6rem;
    height: 12.5rem;
}

.list-serr{
    position: absolute;
    margin-left: 4.6rem;
    margin: 1.5rem;



}



.list-serr li{
    font-weight: 600;

}

/**COMEÇANDO RESPONSIVIDADE HEADER **/
@media (max-width: 900px){

    .title-serr{
        height: 45vh;
        width: 70vw;
        
        
    }

}



/** Começando conteúdo após o main***/


section{
    width: 85vw;
    height: 100vh;
    margin: 1.1rem;
    
}



.content-serr {
    padding: 1.0rem;
    margin: 0 auto;
    border-radius: 10px;
    display: grid;
    position: relative;
    height: 30vh;
    color: black;
    background-color: white;
    

}

.content-serr h2 {
    font-size: 20px;
}

.title-main-groups {
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 1.2rem;
    border-radius: 10px;
    position: relative;
    height: 10vh;

}

.titles-groups {
    display: flex;
    justify-content: space-between;
    margin-top: 4.7rem;
    text-align: center  ;
    align-items: center;
}

.titles-groups h2 {
    margin: 10px;
    font-size: 26px;
}

.group-images {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5%;
    margin: 2vh;
    height: 80vh;
    margin-top: 6vh;
    position: relative;
    padding: 20px;

}

.group-image-1 {
    margin-top: 5%;
    height: 40vh;
    text-align: left;
    overflow: hidden;
    width: 50vw;


}

.group-image-1 img{
    width: 15.6rem;
    height: 12.6rem;
    padding: 1%;
    margin: 20px;
    border-radius: 20px;
    margin-top: 1.8rem;
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}


.group-image-1 img:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.group-2 {
    width: 35vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    gap: 5%;
   
}

.group-2 img {
    width: 16.6rem;
    height: 12.6rem;
    padding: 2%;
    border-radius: 20px;
    display: block;
}

.group-2-image img{
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;


}

.group-2-image img:hover{

    transform: scale(1.1);
    cursor: pointer;
    
}







.link-orc{
    align-items: center;
}

.link-orc a{
    width: 12.9rem;
    height: 2.6rem;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    border-radius: 5px;
    background-color: black;
    border: none;
    transition: 400ms;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 2px;
    display: grid;
    align-items: center;

 

}

.link-orc a:hover{
    background: white;
    color: black;
    border: 1px solid black;
}




