@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Merriweather&display=swap';


*{
    margin: 0;
    padding: 0;
    bottom: 0;
}

main{
    font-family: Merriweather, sans-serif;
    width: 85vw;


}

ul{
    list-style: none;

}


.title-serr{
    border: 2px solid rgba(0, 0, 0, 0.4);
    padding: 1.6rem;
    margin: 2.6rem;
    border-radius: 10px;
    display: grid;
    position: relative;
    grid-template-columns: 2fr 1fr;
    height: 30vh;

}



.image-title-serr img {
    width: 20.6rem;
    height: 11.6rem;
}

.list-serr{
    position: absolute;
    margin-left: 4.6rem;
    margin: 1.5rem;



}



.list-serr li{
    font-weight: 600;

}


/** Começando conteúdo após o main***/


section{
    width: 85vw;
    height: 60vh;
    margin: 1.1rem;

    
}


.content-serr {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.image-serr {
    display: grid;
    flex-wrap: wrap;
}

.image-serr img {
    width: 16.5rem;
}

