@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Merriweather&display=swap';


*{
    margin: 0;
    padding: 0;
    bottom: 0;

}



body{
    font-family: Roboto, sans-serif;
    position: relative;
}

header{
    height: 10vh;
    width: 100%;  
    padding: 1px 20px;
    margin-top: 2.6rem;
    z-index: 999;
    position: relative;
    

    
    

}

header .primary-nav{
    max-width: 1200px;
    margin: -15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
    
   
    

}


header .menu a {
    color: black;
    text-decoration: none;
    
    
}

header .menu a:hover {
    font-weight: 700;
    color: black;
    
    
    
}

.logo img {
    width: 200px;
    height: 20px;
}



.hamburguer{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    right: 20px;
    position: relative;
    cursor: pointer;
    display: none;

  
  

}

.hamburguer img{
    width: 40px;
    height: 25px;
    display: block;
    margin-right: 70px;
}

.hamburguer:after{
    content: "";

    position: absolute;
    top: 35%;
    left: 15%;
    width: 5%;
    border-radius: 5px;

    background-color: #fff;
}
.menu{
    list-style: none;
    display: flex;
    align-items: center;
    

}

.menu li {
    margin-left: 10px;
  
}


.menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;

}


.menu li a:hover{
font-weight: 700;
transition: 400ms

}

@media screen and (max-width: 980px){
    .hamburguer{
        display: block;
        z-index: 999;
    }

    .menu{
        position: absolute;
        top: 0;
        right: -100%;

        height: 100vh;
        background-color: #222;
        flex-direction: column;

        padding: 50px 20px;
        width: 100%;
        max-width: 300px;

        transition: 0.5s ease;
    }

    .menu.active {
        right: 0;
    }
}


/****COMEÇANDO CONTEÚDO PRINCIPAL***/

main{
    background-color: white;
    height: 60vh;
    position: relative;
    width: 100%;

    
    
}

main .primary-main{
    text-align: center;
    position: relative;
    height: 70vh;
    position: absolute;
    margin-left: 20px;
    display: flex;
    color: black;
    margin-top: 50px;


    
}

main .primary-content{
    position: relative;
    height: 21.6rem;
    top: 10%;
    color: black;
    

       
    
    

}

main .primary-content h1{
    display: block;
    position: relative;
    left: 0;
    font-size: 1.1rem;
    color: black;
    

}




main .primary-content h3{
    opacity: 0.8;
    display: block;
    margin-top: 3vh;
    color: black;    

}


main .primary-image {
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 10%;
    
    
}



main .primary-image img{
    max-width: 350px;
    height: 300px;
    position: absolute;
    margin: 20vh auto;


    
}
    


main .primary-main{

    position: relative;
    
    
}


.link-orc{
    align-items: center;
}

.link-orc a {
    align-self: center;
    align-items: center;
    position: absolute;
    margin-top: 10px;
    font-size: 15px;
    
}

main .primary-content a{
    width: 13.9rem;
    height: 2.5rem;
    font-size: 17px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    border-radius: 5px;
    background-color: black;
    border: none;
    transition: 400ms;
    position: absolute;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 2px;
    display: grid;
    align-items: center;    
    margin: 3.0rem auto;
    

    

    
    
 


}

main .primary-main a:hover{
    background: white;
    color: black;
    border: 1px solid black;
}

/***Conteúdo secundário*****/
.content-secundary  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    justify-content: space-between;
    height: 55vh;
    width: 100%;
    position: relative;
    margin-top: 50px;
    margin-bottom: -20px;
    
    
}




.content-secundary span img{
    width: 50px;

    
    
}

.content-secundary img {
    width: 350px;
    height: 250px;
}

.content-secundary h2 {
    text-align: center;
    margin-top: 10px;
}

.content-secundary .content-secundary-text{
    margin-top: 30px;
    
}

.content-secundary .content-secundary-image-1{
    margin-top: 30px;
    border: 1px solid #fff0ff;
    text-align: center;
    
    
}

/*****começando conteúdo 3****/


.section-content-3{
    background-color: black;
    width: 100%;
    max-height: 700px;
    border: 2px solid #fff;
    font-family: 'Merriweather', sans-serif;
    font-size: 18px;
    color: white;
    position: relative;
    margin-top: 5%;
    

}

.context-title-3{
    margin: 20px;
    width: 100%;
    text-align: left;
    top: 20%;
    justify-items: center;
    

}


.context-title-3 .context-3 h2{
    margin-bottom: 20px;
    font-size: 16px;
    

}


.context-title-3 .context-3 h3{
    color: #E49C15;
    font-size: 18px;
    position: relative;
    
    
}

/***SEGMENTOS****/

.segments-context{
    margin-top: 5%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
 
}

.segments-context h {
    color: #E49C15
}

.segments-context img {
    width: 100px;
    height: 105px;
    margin-top: 5vh;
    
}

.segments-context .group-image{
    text-align: center;
    display: block;
    align-items: center;
    
}

/*****COMEÇANDO CONTEXTO 4 - SERRALHERIA ******/

.section-context-4{
    width: 100%;
    background-color: white;
    font-family: 'Merriweather', sans-serif;
    padding: 5px;
    

}

.context-4{
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}

.context-4 h2{
    color: #E49C15;
    font-size: 15px;
    

}

.context-4 h3{
font-size: 30px;
color: #E49C15;
}

.context-4 p{
    font-size: 16px;
    padding: 10px;

}

.quem-somos{
    display: flex;
    flex-direction: row;
    
}

.quem-somos img{
    width: 50%;
    max-height: 450px;
    margin: 20px; 
    border-radius: 20px;
    
    
}



/**COMEÇANDO CONTEXTO DIFERENCIAIS***/

.differentials-main {
    width: 100%;
    height: 120vh;
    background-color: black;
    color: white;
    text-align: center;
    
    
    
}



.grid-differentials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-height: 900px;
    position: relative;
    margin-top: 20px;
    
    
}



.differentials-grid {
    display: flex;
    align-items: center;
    max-width:500px;
    height: 230px;
    border: 1px solid #E49C15;
    position: relative;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.differentials-grid h2 {
    margin: 20px;
    font-size: 18px;
    display: block;
    width: 200px;
    height: 90px;
    margin: 0 auto;
}

.differentials-grid img{
    width: 100px;
    height: 105px;
   
}

.differentials-grid p{
    display: block;
    flex-direction: row;
    font-size: 14px;
    position: absolute;
    margin-bottom: 10px;

}


.border-radius-differentials {
    width: 150px;
    height: 100px;
    border-radius: 30px;
    border: 1px solid white;
    margin: 14px;
    transition: 400ms;
    background-color: black;
    cursor: pointer;
}


#context-diferenciais{
    margin: 20px;
}

#context-p-diferenciais{
    margin: 20px;
}

#icon_team img{
    width: 80px;
    height: auto;
    margin: 5px;

}

#icon_serra img {
    width: 80px;
    height: auto;
    margin: 5px;
}







/* === FOOTER === */


footer{
    width: 100%;
    height: 20vh;
    background-color: white;
}

.footer-content{
    text-align: center;
    display: grid;
    align-items: center;
}

.footer-content p {
    font-weight: 600;
    margin: 20px;
}

.footer-logo img{
    width: 170px;
    height: 20px;
    margin: 20px;


}

.footer-socials img{
    width: 45px;
    height: 40px;
    
    margin: 10px;
    

}





/****CONFIGURANDO RESPONSIVIDADE ****/
@media screen and (max-width: 900px){
    
    html, body{
        overflow-x: hidden;
        
    }
    
    .primary-image{
        display: none;
    }
    

    .content-secundary{
       display: block;
       height: 130vh;

    }

    .content-secundary-text h2{
        font-size: 18px;
        margin: 20px;
    }

    body{
        overflow-x: hidden;
    }


    .segments-context img{
        width: 80px;
        height: 80px;

        align-items: center;
        

    }
    

    .group-image {
        margin: -5px
    }

    .group-image img{
        width: 80px;
        height: 80px;
    }

    .group-image h4 {
        font-size: 12px;
    }

    #alarme{
        position: relative;
        top: 20px;
    }
    #alarme-title {
        position: relative;
        top: 20px;
    }


    
    /*==HISTÓRIA==*/
    .context-4{
        text-align: center;
    }

    .context-4 {
        padding: 10px;
        
    }

    .context-4 p{
        font-size: 15px;

        

    }

    .context-4 img{
        width: 20.6rem;
        height: 16.8rem;
        display: block;
        align-items: center;
        
    }

    #team{
        display: none;
    }

    /*=== DIFERENCIAIS ===*/
    .differentials-main{
        height: auto;
    }
    .grid-differentials{
        display: block;
        
    }

    .differentials-grid{
        width: 280px;
        margin: 30px;
        
    }

    .border-radius-differentials{
        margin-bottom: 80px;
    }

    

    .differentials-grid p{
        display: block;
        
    }
    
}